<div class="row">
    <div class="col-6">
        <img src="assets/image/about.jpg" alt="pintureria">
    </div>
    <div class="col-6">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, eaque neque ut necessitatibus iure dicta
            earum commodi sapiente iusto totam delectus. Reiciendis quaerat, tenetur totam sed, natus inventore beatae
            eum quod illo ea, omnis consequuntur culpa accusantium pariatur quae. Id eius architecto doloremque aliquam
            amet consequatur odio, dolorum quam. Natus assumenda rem, doloremque fugiat delectus itaque autem voluptatem
            obcaecati impedit iusto hic, nulla soluta quos quasi quod! Nostrum nam voluptates consectetur dolorem
            impedit, dolores sunt! Accusamus atque inventore corporis est laborum voluptatem omnis dignissimos cumque
            ea? A optio quidem saepe, laboriosam quo, rem labore vel ullam praesentium deserunt quam similique tenetur
            explicabo sequi dicta nisi incidunt nemo architecto? Libero incidunt est, quisquam tenetur provident nam ex
            debitis repudiandae nobis ullam maxime cupiditate laboriosam tempore nostrum dignissimos atque doloremque
            sequi similique soluta, ea odit hic sed dolor culpa!
        </p>
    </div>
</div>
